.App {
  text-align: center;
  height: 100vh;
}

/*generic letter formatting*/
.letter {
    padding-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
    height: 20vmin;
    pointer-events: none;
}

.App-header {
  background-color: #F76902;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Added by etw9578, 5:34AM April 27th*/
.App-header > div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
.swatch{
    margin: 0 2rem;
    padding: 1rem 3rem;
}
.swatch > img{
    height: 20vmin;
}

/*React CSS to Normal, need to change selectors*/

.color{
    width: 36px;
    height: 14px;
    border-radius: 2px;
    background: #FF0000; /*TODO*/
}
.swatch{
    padding: 5px;
    background: #F76902;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
    display: inline-block;
    cursor: pointer;
}
.popover{
    position: absolute;
    z-index: 2;
}
.cover{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
